{{>head.shared}}

<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
<table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
    <thead class="text-xs text-gray-700 uppercase dark:text-gray-400">
    <tr>
        <th scope="col" class="px-6 py-3 bg-gray-50 dark:bg-gray-800">
            Course name
        </th>
        <th scope="col" class="px-6 py-3">
            Action
        </th>
    </tr>
    </thead>
    <tbody>
{{#courses}}
            <tr class="border-b border-gray-200 dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap bg-gray-50 dark:text-white dark:bg-gray-800">
                    {{name}}
                </th>
                <td class="px-6 py-4">
                    <a href="/user/course/{{_id}}" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">View</a>
                    <a href="/user/course/quit/{{_id}}" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Quit</a>
                </td>
            </tr>
{{/courses}}
</tbody>
</table>
</div>
{{>tail.shared}}