{{>admin.head.shared}}
<h1>{{course.name}}</h1>
<h5>Date: {{course.date}}</h5>
<h3>Are you certain you want to delete this course?</h3>
<form action="/admin/course/delete/{{course._id}}" method="POST"><button role="menuitem" tabindex="-1" type="submit" class="block px-4 py-2 text-sm text-gray-700">Delete</button></form>
{{>admin.tail.shared}}