{{>admin.head.shared}}
<form class="max-w-md mx-auto" action="/admin/user/create" method="POST">
    <div class="relative z-0 w-full mb-5 group">
        <label for="username" class="peer-focus:font-medium absolute text-sm text-black-500 duration-300">Users Username</label>
        <input type="username" name="username" id="username" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required />
    </div>
    <div class="relative z-0 w-full mb-5 group">
        <label for="fullname" class="peer-focus:font-medium absolute text-sm text-black-500 duration-300">Users Full name</label>
        <input type="fullname" name="fullname" id="fullname" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required />
    </div>
    <div class="relative z-0 w-full mb-5 group">
        <label for="role" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Select a role</label>
        <select name="role" id="role" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            <option selected value="Admin">Admin</option>
            <option value="User">User</option>
        </select>
    </div>
    <div class="relative z-0 w-full mb-5 group">
        <label for="password" class="peer-focus:font-medium absolute text-sm text-black-500 duration-300">Users password</label>
        <input type="password" name="password" id="password" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required />
    </div>
    <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Create</button>
</form>

{{>admin.tail.shared}}