{{>admin.head.shared}}

<a href="/admin/user/create"><button type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Create new user</button></a>
<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
        <tr>
            <th scope="col" class="px-6 py-3">
                User name
            </th>
            <th scope="col" class="px-6 py-3">
                Role
            </th>
            <th scope="col" class="px-6 py-3">
                <span class="sr-only">Actions</span>
            </th>
        </tr>
        </thead>
        <tbody>
        {{#users}}
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    {{username}}
                </th>
                <td class="px-6 py-4">
                    {{role}}
                </td>
                <td class="px-6 py-4 text-right">
                    <a href="/admin/user/{{_id}}" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">View</a>
                    <a href="/admin/user/update/{{_id}}" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Update</a>
                    <a href="/admin/user/delete/{{_id}}" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Delete</a>
                </td>
            </tr>
        {{/users}}
        </tbody>
    </table>
</div>

{{>admin.tail.shared}}