{{>head.shared}}
<h1>{{course.name}}</h1>
<h4>Date:{{course.date}}</h4>
<h4>Location:{{course.location}}</h4>
<h4>Cost: {{course.cost}}</h4>
<p>{{course.description}}</p>

    {{#accessToken}}
        {{#full}}
            <h2>This course is full {{course.maxSize}}/{{course.maxSize}} students registered</h2>
        {{/full}}
        {{^full}}
            {{^alreadyRegistered}}
                <form action="/course/{{course._id}}" method="POST"><button role="menuitem" tabindex="-1" type="submit" class="block px-4 py-2 text-sm text-gray-700">Sign up to course {{count}}/{{course.maxSize}}</button></form>
            {{/alreadyRegistered}}
            {{#alreadyRegistered}}
                <h2>You are already registered to this class! view through the dashboard</h2>
            {{/alreadyRegistered}}
        {{/full}}
    {{/accessToken}}
{{>tail.shared}}